{% extends "base.html" %}

{% block content %}
  <h1>Driver Detail</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ driver.get_full_name }}</h5>
      <p class="card-text">Username: {{ driver.username }}</p>
      <p class="card-text">License number: {{ driver.license_number }}</p>

      <a href="{% url 'taxi:driver-license-update' driver.id %}"
         class="btn btn-primary">Update License</a>
      <a href="{% url 'taxi:driver-delete' driver.id %}"
         class="btn btn-danger">Delete Driver</a>
    </div>
  </div>
{% endblock %}